* {
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002084;
    padding: 20px;
}

.menu .logo-img, .menu .logo-link {
    max-width: 60px;
    max-height: 60px;
}

.menu ul {
    display: flex;
    gap: 40px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: #0099CC;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.menu ul li a.active {
    background-color: #0099CC;
}